.stButton button {
    width: 85px !important;
    height: 30px !important;
    font-size: 16px !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: black !important;
    background-color: #f0f2f6 !important;
    border: 1px solid #d3d3d3 !important;
    border-radius: 5px !important;
    font-weight: normal !important;
    padding: 0.5rem 1rem !important;
    margin: 0 !important;
}

.stButton button:hover {
    background-color: #e2e4e8 !important;
    color: black !important;
}
    
.logout-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.login-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

[data-testid="stSidebarNav"] {
    display: none;
}

div.st-key-download_btn button[data-testid="stBaseButton-secondary"] {
    width: 20% !important;
}

.app-title {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    color: #30333e;
    margin-bottom: 1rem;
}

div[data-testid="stDownloadButton"] > button {
    width: 100px !important;
    float: right !important;
    background-color: #f8f9fa !important;
    border-radius: 5px !important;
    transition: all 0.1s ease-in-out !important;
    margin-top: 1rem !important;
}

div[data-testid="stDownloadButton"] > button:hover {
    background-color: #e9ecef !important;
}

div[data-testid="stDownloadButton"] > button:active {
    transform: translateY(1px) !important; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: #a6a5a5 !important; 
}

.stToolbarActions {
    display: none !important;
}

button[data-testid="manage-app-button"] {
    display: none !important;
}

footer {visibility: hidden;}

.st-emotion-cache-nahz7x {
    display: none !important;
}

a[href="https://streamlit.io/cloud"] {
    display: none !important;
}